.text-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 35rem;
}

.text-wrapper h1{
    font-size: 2.8rem;
    font-weight: 400;
}

.text-wrapper p{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin-block-end: 0rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1245px) {
    .text-wrapper h1{
        font-size: 1.9rem;
        font-weight: 500;
        margin-block-end: 0rem;
    }

    .text-wrapper p{
        font-size: 1rem;
        margin-block-end: 0rem;
        line-height: 1.3rem;
        font-weight: 300;
    }
}

